%main.navegacion-espacio
  .row
    .col.s12
      %h2.red-text.center-align.trun Perfiles de tutores
    .col.s12
      .tabla-contenedor
        %table.striped
          %thead
            %tr
              %th.b
              %th.b
              %th User
              %th Ap paterno
              %th Ap materno
              %th Nombre
          %tbody
            - @perfil_tutores.each do |perfil_tutor|
              %tr
                %td
                  .btn.waves-effect.btn-square
                    = link_to '<i class="material-icons white-text">remove_red_eye</i>'.html_safe, perfil_tutor
                %td
                  .btn.waves-effect.btn-square.red
                    = link_to '<i class="material-icons white-text">delete</i>'.html_safe, perfil_tutor, :method => :delete, :data => { :confirm => 'Are you sure?' }
                %td= perfil_tutor.user.email
                %td= perfil_tutor.ap_paterno
                %td= perfil_tutor.ap_materno
                %td= perfil_tutor.nombre
      .col.s12
        %br
        = will_paginate @perfil_tutores