%main.navegacion-espacio
  .row
    .col.s12.l4.principal-usuario
      .col.s12.center-align
        .btn.waves-effect
          = link_to 'REGRESAR', perfil_tutores_path, class:"white-text"
      .col.s12.center-align
        = image_tag @perfil_tutor.user.gravatar_url(default: 'mm', size: '300')
    .col.s12.l8.perfiles-usuario
      .col.s12
        %p#notice= notice
        .card.grey.lighten-3
          .card-content
            .row
              .col.s12
                %i.material-icons.left face
                %span.card-title Información personal
              .col.s12
                %p
                  %b Ap paterno:
                  = @perfil_tutor.ap_paterno
                %p
                  %b Ap materno:
                  = @perfil_tutor.ap_materno
                %p
                  %b Nombre:
                  = @perfil_tutor.nombre
                %p
                  %b Fecha de nacimiento:
                  = @perfil_tutor.fecha_de_nacimiento
                %p
                  %b Género:
                  = @perfil_tutor.genero.sexo
        .card.grey.lighten-3
          .card-content
            .row
              .col.s12
                %i.material-icons.left show_chart
                %span.card-title Estadísticas de uso
              .col.s12
                %p
                  %b Correo de User:
                  = @perfil_tutor.user.email
                %p
                  %b Numero de veces ingresadas:
                  =@perfil_tutor.user.sign_in_count
                %p
                  %b Ultima vez ingresado
                  =@perfil_tutor.user.current_sign_in_at
                %p
                  %b Ultima vez session cerrada
                  =@perfil_tutor.user.last_sign_in_at
                %p
                  %b Ultima ip de ingreso
                  =@perfil_tutor.user.current_sign_in_ip 
                %p
                  %b Ultima ip de salida
                  =@perfil_tutor.user.last_sign_in_ip  
                %p.truncate
                  %b contraseña encriptada
                  =@perfil_tutor.user.encrypted_password
        .card.grey.lighten-3
          .card-content
            .row
              .col.s12
                %i.material-icons.left explore
                %span.card-title Dirección
              .col.s12
                %p
                  %b Calle:
                  = @perfil_tutor.calle
                %p
                  %b Numero exterior:
                  = @perfil_tutor.numero_exterior
                %p
                  %b Numero interior:
                  = @perfil_tutor.numero_interior
                %p
                  %b Colonia:
                  = @perfil_tutor.colonia
                %p
                  %b Delegacion municipio:
                  = @perfil_tutor.delegacion_municipio
                %p
                  %b Codigo postal:
                  = @perfil_tutor.codigo_postal
        .card.grey.lighten-3
          .card-content
            .row
              .col.s12
                %i.material-icons.left comment
                %span.card-title Contacto
              .col.s12
                %p
                  %b Telefono casa:
                  = @perfil_tutor.telefono_casa
                %p
                  %b Telefono celular:
                  = @perfil_tutor.telefono_celular
                %p
                  %b Telefono recados:
                  = @perfil_tutor.telefono_recados
                %p
                  %b Extension recados:
                  = @perfil_tutor.extension_recados
        .card.grey.lighten-3
          .card-content
            .row
              .col.s12
                %i.material-icons.left extension
                %span.card-title Información extra
              .col.s12
                %p
                  %b  Alumno(s) a cargo|
                  -unless @perfil_tutor.perfil_alumnos.nil?
                    -@perfil_tutor.perfil_alumnos.each do |alumno|
                      #{alumno.nombre} #{alumno.ap_paterno} #{alumno.ap_materno} - #{alumno.user.email} - #{alumno.grupo.grupo}
                      \|
