%main
	-#Contenedor principal
	.profile.row.no-margin.min-total.white-text
		.col.s12.m12.l4.no-padding.side-profile
			-#Portada
			.portadaProfile.z-depth-3.no-padding
				=image_tag "#{@imgCover}"
				.col.s12.back-btn
					%i.material-icons.left arrow_back
					= link_to "Back", :back,class:"btn waves-effect center-align white-bonis"
					
			-#Imagen de perfil
			.imgProfile.col.s12.center.no-padding
				=image_tag "#{@imgPerfil}",class:"circle z-depth-4"
			-#Nombre 
			.name-profile.col.s12
				%h5.center-align
					%span #{@nombreCorto}
				%h6.center-align.upper
					%span #{@tipoUser}
			.editar.col.s12.ocultado.center-align
				%a.btn-flat.waves-effect.orange-text.text-lighten-1 Editar foto

		-#Contenido
		.contentProfile.col.s12.m12.l8.no-padding.blue-grey.darken-2.z-depth-3
			-#Opciones
			#profileOptions.col.s12
				.col.s12.no-padding
					.col.s12.hide-on-med-and-down
						%h4 Mis datos
					.col.s12.m6.dato
						.col.s12
							%i.material-icons.left face
							%p Nombre completo: 
						.col.s12
							%h5 #{@nombreCompleto}
					.col.s12.m6.dato
						.col.s12
							%i.material-icons.left contacts
							%p Tipo de cuenta:
						.col.s12
							%h5 #{@tipoUser}
					.col.s12.m6.dato
						.col.s12
							%i.material-icons.left event
							%p Fecha de nacimiento:
						.col.s12
							%h5 #{@fechaNac}
					.col.s12.m6.dato
						.col.s12
							%i.material-icons.left favorite
							%p Sexo:
						.col.s12
							%h5 #{@sexo}
				= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| 
					= devise_error_messages!
					.col.s12.no-padding
						.col.s12.m6.dato
							.col.s12
								%i.material-icons.left email
								%p Correo:
							
								.col.s12.input-field
									= f.email_field :email, autofocus: true,class:"grey-text",disabled:"true"
									-#%input#correoUser.validate.grey-text{placeholder:"Ingresa un correo electr칩nico",value:"#{}", disabled:"", type:"text"}
						.col.s12.m6.dato
							.col.s12
								%i.material-icons.left vpn_key
								%p Contrase침a:
							.col.s12.no-padding
								.col.s12.input-field
									= f.password_field :password, autocomplete: "off", disabled:"true",placeholder:"**********", class:"grey-text"
									-#%input#passOne.validate{placeholder:"********", disabled:"", type:"text"}
								#confirmar-col.col.s12.input-field.ocultado
									= f.password_field :password_confirmation, autocomplete: "off" , disabled:"true",placeholder:"**********"
									-#%input#passTwo.validate{placeholder:"********", disabled:"", type:"text"}
					#validarPass.col.s12.m6.input-field.ocultado.white-text
						%h5.orange-text.text-darken-1 Ingresa tu contrase침a antigua para guardar los cambios:
						= f.password_field :current_password, autocomplete: "off",disabled:"true",placeholder:"Contrase침a antigua"
					.col.s12.m6.dato
						%a#cancelarDatosProfile.btn-flat.waves-effect.orange-text.text-darken-1.ocultado{href:"#!"} Cancelar
						%a#editarDatosProfile.btn.waves-effect.grey-text.text-darken-4.orange{href:"#!"} Editar
						= f.submit "GUARDAR", class:"btn waves-effect grey-text text-darken-4 orange ocultado", id:"editar-devise"