-if current_user.tipo.id == 1
	-@nombreCompleto = "#{current_user.perfil_admin.nombre.capitalize} #{current_user.perfil_admin.ap_paterno.capitalize} #{current_user.perfil_admin.ap_materno.capitalize}"
	-@fechaNac = current_user.perfil_admin.fecha_de_nacimiento
	-@sexo = current_user.perfil_admin.genero.sexo.capitalize
	-@ver=240
-elsif current_user.tipo.id == 2
	-@nombreCompleto = "#{current_user.perfil_profesor.nombre.capitalize} #{current_user.perfil_profesor.ap_paterno.capitalize} #{current_user.perfil_profesor.ap_materno.capitalize}"
	-@fechaNac = current_user.perfil_profesor.fecha_de_nacimiento
	-@sexo = current_user.perfil_profesor.genero.sexo.capitalize
	-@ver=240
-elsif current_user.tipo.id == 3
	-@nombreCompleto = "#{current_user.perfil_tutor.nombre.capitalize} #{current_user.perfil_tutor.ap_paterno.capitalize} #{current_user.perfil_tutor.ap_materno.capitalize}"
	-@fechaNac = current_user.perfil_tutor.fecha_de_nacimiento
	-@sexo = current_user.perfil_tutor.genero.sexo.capitalize
	-@ver=0
-elsif current_user.tipo.id == 4
	-@nombreCompleto = "#{current_user.perfil_alumno.nombre.capitalize} #{current_user.perfil_alumno.ap_paterno.capitalize} #{current_user.perfil_alumno.ap_materno.capitalize}"
	-@fechaNac = current_user.perfil_alumno.fecha_de_nacimiento
	-@sexo = current_user.perfil_alumno.genero.sexo.capitalize
	-@ver=0

%main{style:"padding-left:#{@ver}px"}
	-#Contenedor principal
	-#para que no de el error de las particles
	#particles.ocultado
	.profile.row.no-margin.min-total-bar.white-text
		.col.s12.m12.l4.no-padding.side-profile
			-#Portada
			.portadaProfile.z-depth-3.no-padding
				=image_tag "#{@imgCover}"					
			-#Imagen de perfil
			.imgProfile.col.s12.center.no-padding
				=image_tag "#{@imgPerfil}",class:"circle z-depth-4"
			-#Nombre 
			.name-profile.col.s12
				%h5.center-align
					%span #{@nombreCorto}
				%h6.center-align.upper
					%span #{@tipoUser}
			.editar.col.s12.ocultado.center-align
				%a.btn-flat.waves-effect.orange-text.text-lighten-1 Editar foto

		-#Contenido
		.contentProfile.col.s12.m12.l8.no-padding.blue-grey.darken-2.z-depth-3.min-total-bar
			-#Opciones
			#profileOptions.col.s12
				.col.s12.no-padding
					.col.s12.hide-on-med-and-down
						%h4 Mis datos
					.col.s12.m6.dato
						.col.s12
							%i.material-icons.left face
							%p Nombre completo: 
						.col.s12
							%h5 #{@nombreCompleto}
					.col.s12.m6.dato
						.col.s12
							%i.material-icons.left contacts
							%p Tipo de cuenta:
						.col.s12
							%h5 #{@tipoUser.capitalize}
					.col.s12.m6.dato
						.col.s12
							%i.material-icons.left event
							%p Fecha de nacimiento:
						.col.s12
							%h5 #{@fechaNac}
					.col.s12.m6.dato
						.col.s12
							%i.material-icons.left favorite
							%p Sexo:
						.col.s12
							%h5 #{@sexo}
					-if current_user.tipo.id == 3
						-unless current_user.perfil_tutor.perfil_alumnos.nil?
							.col.s12.m6.dato
								.col.s12
									%i.material-icons.left extension
									%p Alumno(s)
								.col.s12
									-current_user.perfil_tutor.perfil_alumnos.each do |alumno|
										%h5 #{alumno.nombre} #{alumno.ap_paterno} #{alumno.ap_materno}- #{alumno.user.email}
										\|
					-if current_user.tipo.id == 4
						.col.s12.m6.dato
							.col.s12
								%i.material-icons.left extension
								%p Grupo
							.col.s12
								%h5= current_user.perfil_alumno.grupo.grupo
				= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| 
					.col.s12
						= devise_error_messages!
					.col.s12.no-padding
						.col.s12.m6.dato
							.col.s12
								%i.material-icons.left email
								%p Correo:
							
								.col.s12.input-field
									= f.email_field :email, autofocus: true,class:"grey-text",disabled:"true"
									-#%input#correoUser.validate.grey-text{placeholder:"Ingresa un correo electrónico",value:"#{}", disabled:"", type:"text"}
						.col.s12.m6.dato
							.col.s12
								%i.material-icons.left vpn_key
								%p Contraseña:
							.col.s12.no-padding
								.col.s12.input-field
									= f.password_field :password, autocomplete: "off", disabled:"true",placeholder:"**********", class:"grey-text"
									-#%input#passOne.validate{placeholder:"********", disabled:"", type:"text"}
								#confirmar-col.col.s12.input-field.ocultado
									= f.password_field :password_confirmation, autocomplete: "off" , disabled:"true",placeholder:"**********"
									-#%input#passTwo.validate{placeholder:"********", disabled:"", type:"text"}
					#validarPass.col.s12.m6.ocultado.white-text
						%h5.orange-text.text-darken-1 Ingresa tu contraseña antigua para guardar los cambios:
						.input-field
							= f.label :current_password, class:"white-text"
							= f.password_field :current_password, autocomplete: "off",disabled:"true"
					.col.s12.m6.dato
						%a#cancelarDatosProfile.btn-flat.waves-effect.orange-text.text-darken-1.ocultado{href:"#!"} Cancelar
						%a#editarDatosProfile.btn.waves-effect.grey-text.text-darken-4.orange{href:"#!"} Editar
						= f.submit "GUARDAR", class:"btn waves-effect grey-text text-darken-4 orange ocultado", id:"editar-devise"