%main.navegacion-espacio
  .row
    .col.s12
      %h2.red-text.center-align.trun Perfiles de profesores
    .col.s12
      .tabla-contenedor
        %table.striped
          %thead
            %tr
              %th.b
              %th.b
              %th User
              %th Nss
              %th Ap paterno
              %th Ap materno
              %th Nombre
          %tbody
            - @perfil_profesores.each do |perfil_profesor|
              %tr
                %td
                  .btn.waves-effect.btn-square
                    = link_to '<i class="material-icons white-text">remove_red_eye</i>'.html_safe, perfil_profesor
                %td
                  .btn.waves-effect.btn-square.red
                    = link_to '<i class="material-icons white-text">delete</i>'.html_safe, perfil_profesor, :method => :delete, :data => { :confirm => 'Are you sure?' }
                %td= perfil_profesor.user.email
                %td= perfil_profesor.nss
                %td= perfil_profesor.ap_paterno
                %td= perfil_profesor.ap_materno
                %td= perfil_profesor.nombre

      .col.s12
        %br
        = will_paginate @perfil_profesores