%main.navegacion-espacio
  .row
    .col.s12.l4.principal-usuario
      .col.s12.center-align
        .btn.waves-effect
          = link_to 'REGRESAR', perfil_profesores_path, class:"white-text"
      .col.s12.center-align
        = image_tag @perfil_profesor.user.gravatar_url(default: 'mm', size: '300')
    .col.s12.l8.perfiles-usuario
      .col.s12
        %p#notice= notice
        .card.grey.lighten-3
          .card-content
            .row
              .col.s12
                %i.material-icons.left face
                %span.card-title Información personal
              .col.s12
                %p
                  %b Nss:
                  = @perfil_profesor.nss
                %p
                  %b Ap paterno:
                  = @perfil_profesor.ap_paterno
                %p
                  %b Ap materno:
                  = @perfil_profesor.ap_materno
                %p
                  %b Nombre:
                  = @perfil_profesor.nombre
                %p
                  %b Fecha de nacimiento:
                  = @perfil_profesor.fecha_de_nacimiento
                %p
                  %b Genero:
                  = @perfil_profesor.genero.sexo
        .card.grey.lighten-3
          .card-content
            .row
              .col.s12
                %i.material-icons.left show_chart
                %span.card-title Estadísticas de uso
              .col.s12
                %p
                  %b Correo de User:
                  = @perfil_profesor.user.email
                %p
                  %b Numero de veces ingresadas:
                  =@perfil_profesor.user.sign_in_count
                %p
                  %b Ultima vez ingresado
                  =@perfil_profesor.user.current_sign_in_at
                %p
                  %b Ultima vez session cerrada
                  =@perfil_profesor.user.last_sign_in_at
                %p
                  %b Ultima ip de ingreso
                  =@perfil_profesor.user.current_sign_in_ip 
                %p
                  %b Ultima ip de salida
                  =@perfil_profesor.user.last_sign_in_ip  
                %p.truncate
                  %b contraseña encriptada
                  =@perfil_profesor.user.encrypted_password
        .card.grey.lighten-3
          .card-content
            .row
              .col.s12
                %i.material-icons.left explore
                %span.card-title Dirección
              .col.s12
                %p
                  %b Calle:
                  = @perfil_profesor.calle
                %p
                  %b Numero exterior:
                  = @perfil_profesor.numero_exterior
                %p
                  %b Numero interior:
                  = @perfil_profesor.numero_interior
                %p
                  %b Colonia:
                  = @perfil_profesor.colonia
                %p
                  %b Delegacion municipio:
                  = @perfil_profesor.delegacion_municipio
                %p
                  %b Codigo postal:
                  = @perfil_profesor.codigo_postal
        .card.grey.lighten-3
          .card-content
            .row
              .col.s12
                %i.material-icons.left comment
                %span.card-title Contacto
              .col.s12
                %p
                  %b Telefono casa:
                  = @perfil_profesor.telefono_casa
                %p
                  %b Telefono celular:
                  = @perfil_profesor.telefono_celular
                %p
                  %b Telefono recados:
                  = @perfil_profesor.telefono_recados
                %p
                  %b Extension recados:
                  = @perfil_profesor.extension_recados
        .card.grey.lighten-3
          .card-content
            .row
              .col.s12
                %i.material-icons.left extension
                %span.card-title Información extra
              .col.s12
                %p
                  %b Grupos
                  -unless @perfil_profesor.grupos.nil?
                    -@perfil_profesor.grupos.each do |grupo|
                      =grupo.grupo 
                      \|
                %p
                  %b Materias
                  -unless @perfil_profesor.materias.nil?
                    -@perfil_profesor.materias.each do |materia|
                      =materia.materia 
                      \|

