-#=========================================
-#=========== Barra de navegación =========
-#=========================================
-if current_user.tipo.id <= 2
	=render "home/navs/especial"
-else
	=render "home/navs/general"
-#=========================================
-#=========== Opciones de usuario =========
-#=========================================
%ul#user-menu.side-nav.blue-grey.darken-4
	%li.userView
		.background
			=image_tag "#{@imgCover}"
		.white-bonis
			=image_tag "#{@imgPerfil}", class:"circle"
			%span.white-text.name #{@nombreCorto}
			%span.white-text.email.separado #{@tipoUser}
	-if current_user.perfilado == true && (current_user.tipo.id == 4 || current_user.tipo.id == 3)
		%li.waves-effect
			%i.material-icons.left.white-bonis home
			=link_to "Inicio", root_path, class:"white-bonis waves-effect"
	%li.waves-effect
		-if current_user.perfilado== true
			%i.material-icons.left.white-bonis person
			=link_to "Mi perfil", edit_user_registration_path, class:"white-bonis waves-effect"
	%li.waves-effect
		%i.material-icons.white-bonis power_settings_newd
		=link_to "Salir", destroy_user_session_path, method: :delete, class:"white-bonis waves-effect"
-#=========================================
-#======== Menú Notificaciones - Responsive ============
-#=========================================
%ul#notificaciones-menu.side-nav.blue-grey.darken-3
	.side-contenedor
		%br/
		%li.white-text
			%h6.center-align.upper Notificaciones
		%ul.notificaciones
			-unless @notificationes.nil?
				-@notificationes.each do |item| 
					%li 
						%ul.collapsible.collapsible-accordion
							%li
								%a.waves-effect.white-bonis.collapsible-header
									%i.material-icons.left.white-bonis sms
									%span.trun=item.titulo
									%label=item.perfil_admin.nombre
								.collapsible-body
									%ul.blue-grey.darken-1
										.row.no-margin
											.col.s12.no-padding
												.noti.white-text.jus= time_ago_in_words(item.created_at)