-#=========================================
-#=========== Barra de navegación ================
-#=========================================
#nav-user.navbar-fixed
	%nav.deep-purple.darken-2
		.nav-wrapper
			-#=========================================
			-#============= Botón Menú === ================
			-#=========================================
			.left
				%a#menu-activator.hide-on-large-only.btn-flat.white-bonis{href:"#", data:{activates:"menu-movil"}}
					%i.material-icons menu
			-#=========================================
			-#============= Botón Notificaciones === ================
			-#=========================================
			.left
				%a#notificaciones-activator.btn-flat.white-bonis{href:"#", data:{activates:"notificaciones-menu"}}
					%i.material-icons notifications
			-#=========================================
			-#====== Botón Menú - Opciones usuario ==============
			-#=========================================
			.right
				%a.user-activator.btn-flat.white-bonis.hide-on-small-only.no-upper{href:"#!", data:{activates:"user-menu"}}
					=image_tag "#{@imgPerfil}",class:"admin-img left"
					%span #{@nombreCorto}
				%a.user-activator.btn-flat.white-bonis.hide-on-med-and-up{href:"#!",data:{activates:"user-menu"}}
					%i.material-icons.left apps
					%span OPCIONES
			-#=========================================
			-#============== Toggle Menú =================
			-#=========================================
			.right
				#toggleMenu.btn-flat.white-bonis.hide-on-med-and-down.tooltipped.hoverable
					%i.material-icons.center view_stream
			-#=========================================
			-#========== Navegación - menú =================
			-#=========================================
			.col.s8.margincito-left.hide-on-small-only.truncate
				%a.breadcrumb= "Gliphy#{@tipoUser.capitalize}"
				%a.breadcrumb= "#{@seccion}"
-#=========================================
-#========== Menú navegación - Large ==============
-#=========================================
%ul#menu-normal.side-nav.fixed.blue-grey.darken-4
	.side-contenedor
		.side-lista
			%br/
			-@menuLateral.each do |item|		
				%li.waves-effect
					%i.material-icons.left.white-bonis=item[:icon]
					=link_to item[:title], item[:link], class:"white-bonis"
				%br/
		.line-divider
		%li.ayuda-btn
			%a.waves-effect.white-bonis{href:"help.html"}
				%i.material-icons.left.white-bonis error
				%span Ayuda
-#=========================================
-#======== Menú navegación - Responsive ============
-#=========================================
%ul#menu-movil.side-nav.blue-grey.darken-4
	.side-contenedor
		.side-lista
			%br/
			-@menuLateral.each do |item|		
				%li.waves-effect
					%i.material-icons.left.white-bonis=item[:icon]
					=link_to item[:title], item[:link], class:"white-bonis"
				%br/
		.line-divider
		%li.ayuda-btn
			%a.waves-effect.white-bonis{href:"help.html"}
				%i.material-icons.left.white-bonis error
				%span Ayuda