-#=========================================
-#=========== Barra de navegación ================
-#=========================================
#nav-user.navbar-fixed
	%nav.light-blue.darken-4
		.nav-wrapper
			-#=========================================
			-#============= Botón Notificaciones === ================
			-#=========================================
			.left
				%a#notificaciones-activator.btn-flat.white-bonis{href:"#", data:{activates:"notificaciones-menu"}}
					%i.material-icons notifications
			-#=========================================
			-#====== Botón Menú - Opciones usuario ==============
			-#=========================================
			.right
				%a.user-activator.btn-flat.white-bonis.hide-on-small-only.no-upper{href:"#!", data:{activates:"user-menu"}}
					=image_tag "#{@imgPerfil}",class:"admin-img left"
					%span #{@nombreCorto}
				%a.user-activator.btn-flat.white-bonis.hide-on-med-and-up{href:"#!",data:{activates:"user-menu"}}
					%i.material-icons.left apps
					%span OPCIONES
			-#=========================================
			-#========== Navegación - menú =================
			-#=========================================
			.col.s8.margincito-left.hide-on-small-only.truncate
				%a.breadcrumb= "Gliphy#{@tipoUser.capitalize}"
				%a.breadcrumb= "#{@seccion}"