%main.navegacion-espacio
	.col.s12
		%h3.red-text.center-align Llenar perfil
	= form_for @perfil_admin do |f|
		.container
			- if @perfil_admin.errors.any?
				.red.lighten-2{style:"padding:10px"}
					%i.material-icons.left warning
					%h6= "#{pluralize(@perfil_admin.errors.count, "problema(s)")} al guardar el perfil"
				- @perfil_admin.errors.full_messages.each do |msg|
					-#%li= msg
					%script Materialize.toast("#{msg}", 5000);
			.input-field
				
				= f.text_field :nss, :placeholder=> :nss
			.input-field
				
				= f.text_field :ap_paterno
			.input-field
				
				= f.text_field :ap_materno
			.input-field
				
				= f.text_field :nombre
			.input-field
				
				%br/
				= f.date_select :fecha_de_nacimiento, start_year:1950, end_year:2010
			%br/
			%b Genero
			.input-field
				-Genero.all.each do |genero|
					= f.radio_button :genero_id,genero.id
					
					&nbsp;&nbsp;&nbsp;&nbsp;
			%br/
			.input-field
				
				= f.text_field :calle
			.input-field
				
				= f.text_field :numero_exterior
			.input-field
				
				= f.text_field :numero_interior
			.input-field
				
				= f.text_field :colonia
			.input-field
				
				= f.text_field :delegacion_municipio
			.input-field
				
				= f.text_field :codigo_postal
			.input-field
				
				= f.text_field :telefono_casa
			.input-field
				
				= f.text_field :telefono_celular
			.input-field
				
				= f.text_field :telefono_recados
			.input-field
				
				= f.text_field :extension_recados
			.input-field.center
				= f.submit 'Guardar', class:"btn waves-effect waves-light"
			%br/
			%br/