= form_for @perfil_admin do |f|
	- if @perfil_admin.errors.any?
		%h6= "#{pluralize(@perfil_admin.errors.count, "error")} ocurrio al guardar el perfil"
		- @perfil_admin.errors.full_messages.each do |msg|
			%li= msg
			%script Materialize.toast("#{msg}", 10000);
	.container
		.input-field
			= f.label :nss
			= f.text_field :nss
		.input-field
			= f.label :ap_paterno
			= f.text_field :ap_paterno
		.input-field
			= f.label :ap_materno
			= f.text_field :ap_materno
		.input-field
			= f.label :nombre
			= f.text_field :nombre
		.input-field
			= f.label :fecha_de_nacimiento
			%br/
			= f.date_select :fecha_de_nacimiento, start_year:1950, end_year:2010
		.input-field
			-Genero.all.each do |genero|
				= f.radio_button :genero_id,genero.id
				= f.label "genero_id_#{genero.id}", genero.sexo.humanize
				&nbsp;&nbsp;&nbsp;&nbsp;
		%br/
		.input-field
			= f.label :calle
			= f.text_field :calle
		.input-field
			= f.label :numero_exterior
			= f.text_field :numero_exterior
		.input-field
			= f.label :numero_interior
			= f.text_field :numero_interior
		.input-field
			= f.label :colonia
			= f.text_field :colonia
		.input-field
			= f.label :delegacion_municipio
			= f.text_field :delegacion_municipio
		.input-field
			= f.label :codigo_postal
			= f.text_field :codigo_postal
		.input-field
			= f.label :telefono_casa
			= f.text_field :telefono_casa
		.input-field
			= f.label :telefono_celular
			= f.text_field :telefono_celular
		.input-field
			= f.label :telefono_recados
			= f.text_field :telefono_recados
		.input-field
			= f.label :extension_recados
			= f.text_field :extension_recados
		.input-field.center
			= f.submit 'Guardar', class:"col s12 btn waves-effect waves-light"
		%br/
		%br/
