%main.navegacion-espacio
	-@urgentes.each do |w|
		%li
			%h3
				= w.titulo
			%p
				- @archi.each do |m| 
					- if m.publicacion_id == w.id
						- @archivos.each do |a| 
							-if a == m.nombre
								- if m == "." || m == ".." then next end
								%strong=a
								%br
								%a{:target => "_blank", :href => "ruta_del_archivo/#{a}"}
									Descargar archivo
								%br
	-@publicaciones.each do |w|
		%li
			%h3
				= w.titulo
			%p
				- @archi.each do |m| 
					- if m.publicacion_id == w.id
						- @archivos.each do |a| 
							-if a == m.nombre
								- if m == "." || m == ".." then next end
								%strong=a
								%br
								%a{:target => "_blank", :href => "ruta_del_archivo/#{a}"}
									Descargar archivo
								%br

	%h1 Listing publicaciones

	%table
		%thead
			%tr
				%th Titulo
				%th Mensaje
				%th Fecha de termino
				%th Prioridad
				%th
				%th
				%th

		%tbody
			- @publicaciones.each do |publicacion|
				%tr
					%td= publicacion.titulo
					%td= Sanitize.fragment(publicacion.mensaje, Sanitize::Config::RELAXED).html_safe
					%td= publicacion.fecha_de_termino
					%td= publicacion.prioridad
					%td= link_to 'Show', publicacion
					%td= link_to 'Edit', edit_publicacion_path(publicacion)
					%td= link_to 'Destroy', publicacion, :method => :delete, :data => { :confirm => 'Are you sure?' }

	%br

	= link_to 'New Publicacion', new_publicacion_path

	#events_calendar
		= render partial: "calendar", locals: {events: @publicaciones}
