%main.navegacion-espacio
	-#===============Boton buscar================
	.fixed-action-btn
		%a.btn-floating.btn-large.waves-effect.waves-light.red.tooltipped.hoverable{href:"#buscar", data:{position:"left", delay:"50", tooltip:"Buscar"}}
			%i.material-icons search
	-#===============Mensaje de buscar=============
	#buscar.modal.bottom-sheet
		.modal-content
			%h5 Ingrese el término de la búsqueda
			%br/
			.input-field
				%i.material-icons.prefix search
				%input#links1.validate{type:"text"}
				%label{for:"links1"} Búsqueda

		.modal-footer
			%p.right
				
				%a.modal-action.modal-close.waves-effect.waves-green.btn{href:"#"} Buscar
				%a.modal-action.modal-close.waves-effect.waves-green.btn-flat{href:"#"} Volver
	-#============Dirigido a ============
	#dirigido.modal
		.modal-content
			%h4 Para
			.chip 
				%i.icono-on-chip.material-icons person
				%span Grupo_1
			.chip 
				%i.icono-on-chip.material-icons person
				%span Grupo_2
			.chip 
				%i.icono-on-chip.material-icons person
				%span Grupo_3
			%p.right
				%a.modal-action.modal-close.waves-effect.btn-flat{href:"#!"} Volver
	-#===============Principal contenido===========
	.row	
		#parte-izquierda.col.s12.animar		
			.col.s12
				%h3.red-text.center-align Publicaciones
			#diversos.col.s12
				-#======== CALENDAR ==========
				#calendario-contenedor.col.s12.m7.no-padding
					%h5.truncate.center-align Calendario
					#events_calendar
						= render partial: "calendar", locals: {events: @publicaciones}
				-#======== FILTROS =========
				#flitros-contenedor.col.s12.m5.padding-one
					.col.s12
						%h4.blue-text.truncate.center-align= "#{t('date.month_names')[Date.today.month].capitalize} #{Date.today.day}"
					.col.s12
						%p
							.input-field
								%i.material-icons.prefix.center-align sort
								%select
									%option{value:"", disabled:"", selected:""} Elige el orden
									%option{value:"0"} Fecha de publicación
									%option{value:"1"} Importancia
								%label Ordenar por:
			-#======== CARDS =======
			-if @publicaciones.size != 0
				#cards-comunicados.col.s12
					%h4.truncate.center-align Publicaciones
					.row
						-lim = @publicaciones.size
						-x = 1
						-@publicaciones.each do |w|
							-if (x-1)%3 == 0
								.col.s12.hide-on-med-and-down
							.col.s12.m6.l4{style:"margin-bottom: 10px"}
								.card.contenido-comunicado.hoverable
									.head-card{style:"background-color: #{w.materia.color.color}"}
										%span.card-title= w.titulo
									.card-content.principal
										%p.indigo-text.accent-1-text.truncate.etiqueta
											%i.material-icons.left equalizer
											%span= w.visitas
										%p.indigo-text.accent-1-text.truncate.etiqueta
											%i.material-icons.left today
											%span= "Publicado #{w.created_at.to_date}"
										%p.indigo-text.accent-1-text.truncate.etiqueta
											%i.material-icons.left date_range
											%span= "Termino #{w.fecha_de_termino}"
										%p.indigo-text.accent-1-text.truncate.etiqueta
											%i.material-icons.left history
											-dias_rest=(w.fecha_de_termino - w.created_at.to_date).to_i
											-if dias_rest == 0
												%span{style:"color:red"} ¡Hoy es el día límite!
											-elsif dias_rest > 0
												%span Faltan #{dias_rest} dia(s)
											-else
												%span Esta tarea finalizó
										%p.indigo-text.accent-1-text.truncate.etiqueta
											%i.material-icons.left person
											%span= "De #{w.perfil_profesor.nombre}"
										%p.indigo-text.accent-1-text.truncate.etiqueta
											%i.material-icons.left book
											%span= "Materia: #{w.materia.materia}"
										%p.indigo-text.accent-1-text.etiqueta
											%i.material-icons.left group
											%span Para|
											-w.grupos.each do |g| 
												%span= "#{g.grupo} |"
										-# -if w.prioridad == true
										-# 	%p.indigo-text.accent-1-text.truncate.etiqueta
										-# 		%i.material-icons.left announcement
										-# 		%span URGENTE
										%p.indigo-text.accent-1-text.etiqueta
											%i.material-icons.left watch_later
											%span Hace: #{time_ago_in_words(w.created_at)}
									.desplegable.card-content
										.divider
										.card-message
											%p.text-normal= Sanitize.fragment(@publicacion.mensaje, Sanitize::Config::RELAXED).html_safe
										%p{style:"margin-top: 1em"}	 
											- @archi.each do |m| 
												- if m.publicacion_id == w.id
													- @archivos.each do |a| 
														-if a == m.nombre
															.chip.trun
																- if m == "." || m == ".." then next end
																%i.icono-on-chip.material-icons attachment
																-#%a{:target => "_blank", :href => "ruta_del_archivo/#{a}"}
																%a.grey-text.text-darken-1{taget: "_blank", href:"/prof/archivos/#{a}"}= a
										
										.card-action.grey.lighten-2
											.row
												.col.s12.center-align
													=image_tag w.perfil_profesor.user.gravatar_url(default: 'mm')
												.col.s12.center-align
													%h4.truncate= w.perfil_profesor.nombre
									.card-action.grey.lighten-2.boot.center
										= link_to "VER MAS",visita_path(w),:method => :put,id:"#{x}",class:"btn waves-effect para-ver"
										-if current_user.tipo.id==1
											= link_to 'Eliminar', w, :method => :delete, :data => { :confirm => '¿Seguro? que desea eliminar'},class:"btn waves-effect waves-light red"
							-x += 1
					.col.s12
						%br
						= will_paginate @publicaciones
			-else				
				.col.s12.center{style:"margin-top:80px"}
					%h4.center-align No hay publicaciones
					%br/
					%br/
								



	-# -@publicaciones.each do |w|
	-# 	%li
	-# 		%h3
	-# 			= w.titulo
	-# 		%p
	-# 			- @archi.each do |m| 
	-# 				- if m.publicacion_id == w.id
	-# 					- @archivos.each do |a| 
	-# 						-if a == m.nombre
	-# 							- if m == "." || m == ".." then next end
	-# 							%strong=a
	-# 							%br
	-# 							%a{:target => "_blank", :href => "ruta_del_archivo/#{a}"}
	-# 								Descargar archivo
	-# 							%br

	-# %h1 Listing publicaciones

	-# %table
	-# 	%thead
	-# 		%tr
	-# 			%th Titulo
	-# 			%th Mensaje
	-# 			%th Fecha de termino
	-# 			%th Prioridad
	-# 			%th
	-# 			%th
	-# 			%th

	-# 	%tbody
	-# 		- @publicaciones.each do |publicacion|
	-# 			%tr
	-# 				%td= publicacion.titulo
	-# 				%td= Sanitize.fragment(publicacion.mensaje, Sanitize::Config::RELAXED).html_safe
	-# 				%td= publicacion.fecha_de_termino
	-# 				%td= publicacion.prioridad
	-# 				%td= link_to 'Show', publicacion
	-# 				%td= link_to 'Edit', edit_publicacion_path(publicacion)
	-# 				%td= link_to 'Destroy', publicacion, :method => :delete, :data => { :confirm => 'Are you sure?' }

	-# %br

	-# = link_to 'New Publicacion', new_publicacion_path




