%h1 Listing admin_publicaciones

%table
  %thead
    %tr
      %th Titulo
      %th Mensaje
      %th Mensaje markdown
      %th Fecha de termino
      %th Prioridad
      %th Perfil admin
      %th
      %th
      %th

  %tbody
    - @admin_publicaciones.each do |admin_publicacion|
      %tr
        %td= admin_publicacion.titulo
        %td= admin_publicacion.mensaje
        %td= admin_publicacion.mensaje_markdown
        %td= admin_publicacion.fecha_de_termino
        %td= admin_publicacion.prioridad
        %td= admin_publicacion.perfil_admin
        %td= link_to 'Show', admin_publicacion
        %td= link_to 'Edit', edit_admin_publicacion_path(admin_publicacion)
        %td= link_to 'Destroy', admin_publicacion, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Admin publicacion', new_admin_publicacion_path
