%main
	.col.s12
		%h3.red-text.center-align Llenar perfil
	= form_for @perfil_alumno do |f|
		.container
			%p
				%span Es importante que llenes de manera consiente este fomulario, para que no haya problemas en el futuro
			- if @perfil_alumno.errors.any?
				.red.lighten-2{style:"padding:10px"}
					%i.material-icons.left warning
					%h6= "#{pluralize(@perfil_alumno.errors.count, "problema(s)")} al guardar el perfil, debe asignar de nuevo el tutor"
				-#%blockquote= "#{pluralize(@perfil_alumno.errors.count,"probelma(s)")} ocurrio al guardar el perfil, debe asignar de nuevo el tutor"
				- @perfil_alumno.errors.full_messages.each do |msg|
					-#%li= msg
					%script Materialize.toast("#{msg}", 5000);
			.card.grey.lighten-3
				.card-content
					.col.s12
						%i.material-icons.left face
						%span.card-title Datos personales
					%h6.red-text Identificación
					.input-field
						= label_tag "tutor_mail", "Correo del tutor"
						= email_field_tag :tutor_mailcito
					.input-field
						= f.label :matricula #hacerla unique en el bd
						= f.text_field :matricula, data:{length:"8"}
					.input-field
						= f.label "Nombre(s)"
						= f.text_field :nombre
					.input-field
						= f.label :ap_paterno
						= f.text_field :ap_paterno
					.input-field
						= f.label :ap_materno
						= f.text_field :ap_materno
					%h6.red-text Fecha de nacimiento
					.input-field
						= f.date_select :fecha_de_nacimiento, start_year:1995, end_year:2010
					%h6.red-text Género
					.input-field
						-Genero.all.each do |genero|
							= f.radio_button :genero_id,genero.id
							= f.label "genero_id_#{genero.id}", genero.sexo.humanize
							&nbsp;&nbsp;&nbsp;&nbsp;
			%br/
			.card.grey.lighten-3
				.card-content
					.col.s12
						%i.material-icons.left explore
						%span.card-title Dirección
					.input-field
						= f.label :calle
						= f.text_field :calle
					.input-field
						= f.label :colonia
						= f.text_field :colonia
					.input-field
						= f.label :delegacion_municipio
						= f.text_field :delegacion_municipio
					.input-field
						= f.label :codigo_postal
						= f.text_field :codigo_postal, data:{length:"5"}
					.input-field
						= f.label :numero_exterior
						= f.text_field :numero_exterior
					%h6.red-text Opcional
					.input-field
						= f.label :numero_interior
						= f.text_field :numero_interior
			%br/
			.card.grey.lighten-3
				.card-content
					.col.s12
						%i.material-icons.left comment
						%span.card-title Contacto
					.input-field
						= f.label :telefono_casa
						= f.text_field :telefono_casa, data:{length:"8"}
					%h6.red-text Opcional
					.input-field
						= f.label :telefono_celular
						= f.text_field :telefono_celular, data:{length:"10"}
					%h6.red-text Opcional
					.input-field
						= f.label :telefono_recados
						= f.text_field :telefono_recados
					.input-field
						= f.label :extension_recados
						= f.text_field :extension_recados
			%br/
			.card.grey.lighten-3
				.card-content
					.col.s12
						%i.material-icons.left group
						%span.card-title Grupos
					.input-field			
						-Grado.all.each do |grado|
							%hr{style:"margin-bottom:15px"}
							%b= grado.grado
							%br/
							-grado.grupos.each do |grupo| 
								= f.radio_button :grupo_id, grupo.id
								= f.label "grupo_id_#{grupo.id}", grupo.grupo
								&nbsp;&nbsp;&nbsp;&nbsp;
								-if grupo.id == 20 || grupo.id == 40 || grupo.id == 60 || grupo.id == 68 || grupo.id == 76|| grupo.id == 84 || grupo.id == 92 || grupo.id == 100 || grupo.id == 108
									%br/
									%hr{style:"margin-top:60px"}
			%br/
			.card.grey.lighten-3
				.card-content
					.col.s12
						%i.material-icons.left hourglass_full
						%span.card-title Generación
					.input-field.row
						-Generacion.all.each do |generacion|
							.col.s12.m4.l3
								= f.radio_button :generacion_id,generacion.id
								= f.label "generacion_id_#{generacion.id}", generacion.generacion
							
			.input-field.center
				= f.submit 'Guardar', class:"btn waves-effect waves-light"
			%br/
			%br/