= form_for @perfil_alumno do |f|
	- if @perfil_alumno.errors.any?
		%h6= "#{pluralize(@perfil_alumno.errors.count, "error")} ocurrio al guardar el perfil"
		- @perfil_alumno.errors.full_messages.each do |msg|
			%li= msg
			%script Materialize.toast("#{msg}", 10000);
	.container
		.input-field
			= f.label :matricula #hacerla unique en el bd
			= f.text_field :matricula
		.input-field
			= f.label :ap_paterno
			= f.text_field :ap_paterno
		.input-field
			= f.label :ap_materno
			= f.text_field :ap_materno
		.input-field
			= f.label :nombre
			= f.text_field :nombre
		.input-field
			= label_tag "tutor_mail", "Correo del tutor"
			= email_field_tag :tutor_mailcito
		.input-field
			= f.label :fecha_de_nacimiento
			%br/
			= f.date_select :fecha_de_nacimiento, start_year:1995, end_year:2010
		%br/
		%b Genero
		.input-field
			-Genero.all.each do |genero|
				= f.radio_button :genero_id,genero.id
				= f.label "genero_id_#{genero.id}", genero.sexo.humanize
				&nbsp;&nbsp;&nbsp;&nbsp;
			%br/
		.input-field
			= f.label :calle
			= f.text_field :calle
		.input-field
			= f.label :numero_exterior
			= f.text_field :numero_exterior
		.input-field
			= f.label :numero_interior
			= f.text_field :numero_interior
		.input-field
			= f.label :colonia
			= f.text_field :colonia
		.input-field
			= f.label :delegacion_municipio
			= f.text_field :delegacion_municipio
		.input-field
			= f.label :codigo_postal
			= f.text_field :codigo_postal
		.input-field
			= f.label :telefono_casa
			= f.text_field :telefono_casa
		.input-field
			= f.label :telefono_celular
			= f.text_field :telefono_celular
		.input-field
			= f.label :telefono_recados
			= f.text_field :telefono_recados
		.input-field
			= f.label :extension_recados
			= f.text_field :extension_recados
		.input-field			
			-Grado.all.each do |grado|
				%hr{style:"margin-bottom:15px"}
				%b= grado.grado
				%br/
				-grado.grupos.each do |grupo| 
					= f.radio_button :grupo_id, grupo.id
					= f.label "grupo_id_#{grupo.id}", grupo.grupo
					&nbsp;&nbsp;&nbsp;&nbsp;
					-if grupo.id == 20 || grupo.id == 40 || grupo.id == 60 || grupo.id == 68 || grupo.id == 76|| grupo.id == 84 || grupo.id == 92 || grupo.id == 100 || grupo.id == 108
						%br/
						%hr{style:"margin-top:60px"}
		%br/
		%b Generación
		.input-field
			-Generacion.all.each do |generacion|
				= f.radio_button :generacion_id,generacion.id
				= f.label "generacion_id_#{generacion.id}", generacion.generacion
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			%br/
			%br/
		.input-field.center
			= f.submit 'Guardar', class:"col s12 btn waves-effect waves-light"
		%br/
		%br/