!!!5
%html{lang: "es"}
	%head
		%meta{name:"viewport", content:"width=device-width, initial-scale=1"}
		%meta{charset:"UTF-8"}
		= favicon_link_tag 'favicon.ico'
		= csrf_meta_tags		
		= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload'
		-#%script{type:"text/javascript", src:"https://code.jquery.com/jquery-3.1.1.min.js",integrity:"sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=",crossorigin:"anonymous"}
		%script{src:"http://jnicol.github.io/particleground/js/jquery.particleground.js"}
		= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
		= javascript_include_tag "//www.google.com/jsapi", "chartkick"
		%title GliphyHub
%body
	- flash.each do |_key, msg|
		%script Materialize.toast("#{msg}", 5000);
	-if user_signed_in? && (action_name != "basededatos")
		-#para que no de el error de las particles
		#particles.ocultado
		=render "home/navs/nav"
	=yield
	
