-if user_signed_in?
	-@tipoUser = current_user.tipo.tipo_de_usuario
	-if current_user.tipo.id == 1
		-unless current_user.perfil_admin.nil?
			-if current_user.perfilado == true
				-@nombres =  current_user.perfil_admin.nombre.capitalize
				-@ap_paterno = current_user.perfil_admin.ap_paterno.capitalize
				-@nombreCorto = -@nombres.split(/ /)[0] + " " + -@ap_paterno
				-@sexo = current_user.perfil_admin.genero.sexo
				-if @sexo == "masculino"
					-@imgPerfil = "users/user01.jpg"
				-else
					-@imgPerfil = "users/user02.jpg"
				-@imgCover="covers/admin-cover.jpg"
				-@menuLateral=[{title:"Inicio", link:root_path, icon:"home"},{title:"Base de Datos", link:"!#", icon:"storage"},{title:"Publicaciones",link:publicaciones_path, icon:"account_circle"},{title:"Agregar",link:new_publicacion_path, icon:"add"}]
				-@tablas=[{title:"Panel de administración", link:rails_admin_path},{title:"Archivo", link:"basededatos/archivo"},{title:"Color", link:"basededatos/color"}, {title:"Generación", link:"basededatos/generacion"},{title:"Grado", link:"basededatos/grado"},  {title:"Grupo", link:"basededatos/grupo"},{title:"Materia", link:"basededatos/materia"}, {title:"Administrativos", link:"basededatos/perfil_admin"},{title:"Profesores", link:"basededatos/perfil_profesor"},{title:"Alumnos", link:"basededatos/perfil_alumno"}, {title:"Tutores", link:"basededatos/perfil_tutor"}, {title:"Publicación", link:"basededatos/publicacion"},{title:"Tipos", link:"basededatos/tipo"}, {title:"Turno", link:"basededatos/turno"}, {title:"Usuario", link:"basededatos/user"}]
				-@notificationes=[{title:"Comunicado 1", icon:"sms", publicador: "David", desc: "Destacado el 00/00/00"}, {title:"Tarea 1", icon:"description", publicador: "Villena",  desc: "Fecha de entrega el 25/05/17"}, {title:"Comunicado 2", icon:"sms", publicador: "Clemente Cartujano", desc: "Alguna especie de preview o mensaje bastante largo que sí cabe"},{title:"Comunicado 1", icon:"sms", publicador: "David", desc: "Destacado el 00/00/00"}, {title:"Tarea 1", icon:"description", publicador: "Villena",  desc: "Fecha de entrega el 25/05/17"}, {title:"Comunicado 2", icon:"sms", publicador: "Clemente Cartujano", desc: "Alguna especie de preview o mensaje bastante largo que sí cabe"}]
			-else
				-@imgPerfil = "users/desconocido.png"
				-@imgCover = "covers/desconocido.png"
		-else
			-@imgPerfil = "users/desconocido.png"
			-@imgCover = "covers/desconocido.png"

	-elsif current_user.tipo.id == 2
		-unless current_user.perfil_profesor.nil?
			-if current_user.perfilado == true
				-@nombres =  current_user.perfil_profesor.nombre.capitalize
				-@ap_paterno = current_user.perfil_profesor.ap_paterno.capitalize
				-@nombreCorto = -@nombres.split(/ /)[0] + " " + -@ap_paterno
				-@sexo = current_user.perfil_profesor.genero.sexo
				-if @sexo == "masculino"
					-@imgPerfil = "users/user01.jpg"
				-else
					-@imgPerfil = "users/user02.jpg"
				-@imgCover = "covers/teacher-cover.jpg"
				-@menuLateral=[{title:"Publicaciones", link:publicaciones_path, icon:"account_circle"},{title:"Agregar",link:new_publicacion_path, icon:"add"}]
				-@notificationes=[{title:"Comunicado 1", icon:"sms", publicador: "David", desc: "Destacado el 00/00/00"}, {title:"Tarea 1", icon:"description", publicador: "Villena",  desc: "Fecha de entrega el 25/05/17"}, {title:"Comunicado 2", icon:"sms", publicador: "Clemente Cartujano", desc: "Alguna especie de preview o mensaje bastante largo que sí cabe"},{title:"Comunicado 1", icon:"sms", publicador: "David", desc: "Destacado el 00/00/00"}, {title:"Tarea 1", icon:"description", publicador: "Villena",  desc: "Fecha de entrega el 25/05/17"}, {title:"Comunicado 2", icon:"sms", publicador: "Clemente Cartujano", desc: "Alguna especie de preview o mensaje bastante largo que sí cabe"}]
			-else
				-@imgPerfil = "users/desconocido.png"
				-@imgCover = "covers/desconocido.png"
		-else
			-@imgPerfil = "users/desconocido.png"
			-@imgCover = "covers/desconocido.png"
	-elsif current_user.tipo.id == 3
		-unless current_user.perfil_tutor.nil?
			-if current_user.perfilado == true
				-@nombres =  current_user.perfil_tutor.nombre.capitalize
				-@ap_paterno = current_user.perfil_tutor.ap_paterno.capitalize
				-@nombreCorto = -@nombres.split(/ /)[0] + " " + -@ap_paterno
				-@sexo = current_user.perfil_tutor.genero.sexo
				-if @sexo == "masculino"
					-@imgPerfil = "users/user01.jpg"
				-else
					-@imgPerfil = "users/user02.jpg"
				-@imgCover = "covers/teacher-cover.jpg"
				-@notificationes=[{title:"Comunicado 1", icon:"sms", publicador: "David", desc: "Destacado el 00/00/00"}, {title:"Tarea 1", icon:"description", publicador: "Villena",  desc: "Fecha de entrega el 25/05/17"}, {title:"Comunicado 2", icon:"sms", publicador: "Clemente Cartujano", desc: "Alguna especie de preview o mensaje bastante largo que sí cabe"},{title:"Comunicado 1", icon:"sms", publicador: "David", desc: "Destacado el 00/00/00"}, {title:"Tarea 1", icon:"description", publicador: "Villena",  desc: "Fecha de entrega el 25/05/17"}, {title:"Comunicado 2", icon:"sms", publicador: "Clemente Cartujano", desc: "Alguna especie de preview o mensaje bastante largo que sí cabe"}]
			-else
				-@imgPerfil = "users/desconocido.png"
				-@imgCover = "covers/desconocido.png"
		-else
			-@imgPerfil = "users/desconocido.png"
			-@imgCover = "covers/desconocido.png"
	-else
		-unless current_user.perfil_alumno.nil?
			-if current_user.perfilado == true
				-@nombres =  current_user.perfil_alumno.nombre.capitalize
				-@ap_paterno = current_user.perfil_alumno.ap_paterno.capitalize
				-@nombreCorto = -@nombres.split(/ /)[0] + " " + -@ap_paterno
				-@sexo = current_user.perfil_alumno.genero.sexo
				-if @sexo == "masculino"
					-@imgPerfil = "users/user01.jpg"
				-else
					-@imgPerfil = "users/user02.jpg"
				-@imgCover = "covers/teacher-cover.jpg"
				-@notificationes=[{title:"Comunicado 1", icon:"sms", publicador: "David", desc: "Destacado el 00/00/00"}, {title:"Tarea 1", icon:"description", publicador: "Villena",  desc: "Fecha de entrega el 25/05/17"}, {title:"Comunicado 2", icon:"sms", publicador: "Clemente Cartujano", desc: "Alguna especie de preview o mensaje bastante largo que sí cabe"},{title:"Comunicado 1", icon:"sms", publicador: "David", desc: "Destacado el 00/00/00"}, {title:"Tarea 1", icon:"description", publicador: "Villena",  desc: "Fecha de entrega el 25/05/17"}, {title:"Comunicado 2", icon:"sms", publicador: "Clemente Cartujano", desc: "Alguna especie de preview o mensaje bastante largo que sí cabe"}]
			-else
				-@imgPerfil = "users/desconocido.png"
				-@imgCover = "covers/desconocido.png"
		-else
			-@imgPerfil = "users/desconocido.png"
			-@imgCover = "covers/desconocido.png"

!!!5
%html{lang: "es"}
	%head
		%meta{name:"viewport", content:"width=device-width, initial-scale=1"}
		= favicon_link_tag 'favicon.ico'
		= csrf_meta_tags		
		= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload'
		-#%script{type:"text/javascript", src:"https://code.jquery.com/jquery-3.1.1.min.js",integrity:"sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=",crossorigin:"anonymous"}
		%script{src:"http://jnicol.github.io/particleground/js/jquery.particleground.js"}
		= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
		%title GliphyHub
%body
	-#para que no de el error de las particles
	-#particles.ocultado
	- flash.each do |_key, msg|
		%script Materialize.toast("#{msg}", 5000);
	-if user_signed_in? && (action_name != "basededatos")
		=render "home/navs/nav"		
	=yield
